.dialog{
  background-color: rgb(38, 22, 53);
  /* display: flex; */
  margin: auto;
  /* flex-direction: column;
  justify-content: center; */
  z-index: 999;
  position: relative;
  top: -12rem ;
  width: 40%;
  padding: 1rem 3rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 8px rgb(129, 137, 184);
}
body{
  /* display: flex; */
  padding-top: 2rem;
  justify-content: center;
  background-color: rgb(13, 3, 44);
}
.buttons{
  display: flex;
  justify-content:space-between;
  padding-top: 1rem;
}
.batan{
  background-color: rgb(37, 148, 199);
  color: white;
  font-weight: bolder;
  padding: .5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.batan:hover{
  box-shadow: 1px 1px 6px rgb(130, 110, 156);
}
.graph{
  width: 20rem;
  margin-left: 38%;
  
}
.loader{
  width: 4rem;
  margin-left: 47%;
  
}
#click{
  display: block;
  margin: 1rem auto;
}
.dia-image{
  width: 30%;
  margin-left: 35%;
}
.main-image{
  margin-left: 35%;
}
@media only screen and (max-width: 750px){
  .dialog{
    width: 80%;
   
  }
}